
.container{
    margin-top: 20px;

}

h3{
    color: rgb(16, 124, 124);
    padding: 10px 10px;
    border-bottom: 1px solid rgb(39, 117, 117);
   
}
img{
    height:230px;
    float:left;
    padding-right:20px;
    padding-bottom:20px; 
}

p{
    text-align: justify;
}

footer{
    
    background: #666666;
    color: #c7c0c0;
    text-align: center;
    padding:20px 20px;
   
}
