
.container{
    margin-top: 20px;

}



.navbar-light .navbar-brand{
    background:none;
    color: rgba(227, 225, 219, 0.927);
    padding: 10px 10px;
   
   
}
img{
    height:230px;
    float:left;
    padding:15px 15px;
    
}

p{
    text-align: justify;
}

footer{
    
    background: #666666;
    color: #c7c0c0;
    text-align: center;
    padding:20px 20px;
   
}
